body{
  background-color:skyblue;
}

  hr{
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    height: 0px;
    width: 30%
  }


img{
height: 300px;
width: 300px;
border-radius: 10px;
}

h1{
  color: #1589FF;
}

.line1{
  border-style: solid none none;
  border-width: 3px;
  border-color: white;
  width: 100%
}
